@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Inter&family=Lato&family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Inter&family=Lato&family=Montserrat:wght@400;700&family=Open+Sans:wght@600&family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Inter&family=Lato&family=Montserrat:wght@400;600;700&family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Inter&family=Lato&family=Montserrat:wght@400;700&family=Open+Sans:wght@600&family=Poppins:wght@100;200;300&family=Roboto&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "./styles/header.scss";
@import "./styles/footer.scss";
@import "./styles/mainPage.scss";
@import "./styles/breadCrumbs.scss";
@import "./styles/servises.scss";
@import "./styles/trainings.scss";
@import "./styles/trainingDetals.scss";
@import "./styles/burger.scss";
@import "./styles/modal.scss";
@import "./styles/blue.scss";





*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0px;
}

// .container{
//     max-width: 1200px;
//     margin: 0px auto;
//     height: 100%;
// }






