.container
    .row.blue__container
        img.blue__svg(src="./assets/diagrammIcon.svg", alt="diagrammIcon")
        p.blue__text-title Услуги
        .col-md-4.col-sm-6.col-12
            .block__blue-first.block-blue__size
                img(src="./assets/lightIcon.svg", alt="lightIcon")
                p 
                    a(href="/servisesPage.html") Разрабатываем маркетинг-план: дорожная карта достижения целей
        .col-md-8.col-sm-6.col-12
            .block__blue-second.block-blue__size
                img(src="./assets/searchingIcon.svg", alt="searchingIcon")
                p
                    a(href="/servisesPage.html") Повышаем эффективность продвижения: аудит существующей модели
            .row.responsive__web
                .col-md-6.col-sm-6
                    .block__blue-third.block-blue__size
                        img(src="./assets/searchingIcon.svg", alt="searchingIcon")
                        p
                            a(href="/servisesPage.html") Находим скрытую прибыль: анализ модели ценообразования
                .col-md-6.col-sm-6
                    .block__blue-fourth.block-blue__size
                        img(src="./assets/plainIcon.svg", alt="plainIcon")
                        p 
                            a(href="/servisesPage.html") Запускаем новый проект: start-up маркетинг
        .col-sm-6.col-12.responsive__ipad
            .block__blue-third.block-blue__size
                img(src="./assets/searchingIcon.svg", alt="searchingIcon")
                p Находим скрытую прибыль: анализ модели ценообразования
        .col-sm-6.col-12.responsive__ipad
            .block__blue-fourth.block-blue__size
                img(src="./assets/plainIcon.svg", alt="plainIcon")
                p Запускаем новый проект: start-up маркетинг