.servisesPage
    .container 
        .servises__form 
            form.form__box.js-form-servises
                .servises__input-box 
                    input(placeholder="Ваше имя").form__name.js-input-servises
                    span.servises__text-error поле обязательно*
                .servises__input-box
                    input(placeholder="Email").form__email.js-input-servises
                    span.servises__text-error поле обязательно*
                button(type='submit').form__button-servises Получить консультацию
                .servises__send-imitation-text
                    span.servises__loading Ваша заявка успешно отправлена!

                






                