main.main
    .container
        .main__container.row.breakpoints
            .col-lg-6
                .main__content-block
                    h2.main__title Создаем решения
                    h3.main__subtitle Для роста бизнеса
                    p.main__text На основе анализа данных с алгоритмами реализации
                    button.main__button#myModal Обсудить проблему
            .col-lg-6.col-md-12.d-flex.justify-content-center 
                .main__image-block
                    img(src="./assets/mainImage.png", alt="cube")
section.boxes
    .container.row.center__boxes.flex-lg-row.flex-md-row
        .col-12.col-lg-6
            .boxes__item 
                .col-1.boxes__image 
                    img(src="./assets/ulLogo.svg", alt="ulLogo")
                .col-3.boxes__content
                    p Как найти точки роста и определить цели?
        .col-12.col-lg-6 
            .boxes__item 
                .col-1.boxes__image 
                    img(src="./assets/ulLogo.svg", alt="ulLogo")
                .col-3.boxes__content
                    p Как увеличить прибыль, управляя ценами?
        .col-12.col-lg-6
            .boxes__item
                .col-1.boxes__image 
                    img(src="./assets/ulLogo.svg", alt="ulLogo")
                .col-3.boxes__content
                    p Как избежать проблем на старте нового бизнеса?
        .col-12.col-lg-6 
            .boxes__item 
                .col-1.boxes__image 
                    img(src="./assets/ulLogo.svg", alt="ulLogo")
                .col-3.boxes__content
                    p Как не попасть в "черную дыру" затрат на продвижение?
section.servises#servises 
    .container.center__boxes 
        h3.servises__title Услуги
    .container.row.center__boxes
        .col-4 
            a(href="/servisesPage.html")
                .servises__diagramm-box
                    img(src="./assets/diagrammIcon.svg", alt="diagrammIcon")
                    p Разрабатываем маркетинг-план: дорожная карта достижения целей
        .col
            .servises__block1.column
                .col 
                    a(href="/servisesPage.html")
                        .servises__light
                            img(src="./assets/lightIcon.svg", alt="lightIcon")
                            .servises__light-txt
                                p Повышаем эффективность продвижения: аудит существующей модели
                .col.row
                        .col
                            a(href="/servisesPage.html")
                                .servises__searching
                                    img(src="./assets/searchingIcon.svg", alt="searchingIcon")
                                    .servises__searching-txt
                                        p Находим скрытую прибыль: анализ модели ценообразования
                        .col
                            a(href="/servisesPage.html")
                                .servises__plain
                                    img(src="./assets/plainIcon.svg", alt="plainIcon")
                                    .servises__plain-txt
                                        p Запускаем новый проект: start-up маркетинг


    
