main.main
    .container
        .main__container.row.breakpoints
            .col-lg-6
                .main__content-block
                    h2.main__title Создаем решения
                    h3.main__subtitle Для роста бизнеса
                    p.main__text На основе анализа данных с алгоритмами реализации
                    button.main__button#myModal Обсудить проблему
            .col-lg-6.col-md-12.d-flex.justify-content-center 
                .main__image-block
                    img(src="./assets/mainImage.png", alt="cube")
section.boxes
    .container.row.center__boxes.flex-lg-row.flex-md-row
        .col-12.col-lg-6
            .boxes__item 
                .col-1.boxes__image 
                    img(src="./assets/ulLogo.svg", alt="ulLogo")
                .col-3.boxes__content
                    p Как найти точки роста и определить цели?
        .col-12.col-lg-6 
            .boxes__item 
                .col-1.boxes__image 
                    img(src="./assets/ulLogo.svg", alt="ulLogo")
                .col-3.boxes__content
                    p Как увеличить прибыль, управляя ценами?
        .col-12.col-lg-6
            .boxes__item
                .col-1.boxes__image 
                    img(src="./assets/ulLogo.svg", alt="ulLogo")
                .col-3.boxes__content
                    p Как избежать проблем на старте нового бизнеса?
        .col-12.col-lg-6 
            .boxes__item 
                .col-1.boxes__image 
                    img(src="./assets/ulLogo.svg", alt="ulLogo")
                .col-3.boxes__content
                    p Как не попасть в "черную дыру" затрат на продвижение? 
