.container 
    .breadcrumbs 
        .breadcrumbs__main
            a(href="#")  Главная
            span /
        .breadcrumbs__main
            a(href="#")  Тренинги
            span /
        .breadcrumbs__third
            p Бизнес-тренинг «Маркетинг – технология роста»
.trainingDetails 
    .container
        .trainingDetails__head.col-12 
            h2 Бизнес-тренинг «Маркетинг – технология роста»
            p Для кого: руководители компаний, маркетологи, продавцы
            p Цели бизнес-тренинга:
            ul.trainingDetails__ul 
                li.trainingDetails__li 
                    img(src="assets/cube-trainingsDetails.svg", alt="cube")
                    span Определение маркетинга как технологии роста
                li.trainingDetails__li 
                    img(src="assets/cube-trainingsDetails.svg", alt="cube")
                    span Организация маркетинга как сквозного бизнес-процесса
                li.trainingDetails__li 
                    img(src="assets/cube-trainingsDetails.svg", alt="cube")
                    span Получение практических навыков применения технологии маркетинга
            .trainingDetails__button
                    button Подробнее #[img(src="assets/arrow-training.svg" alt="arrow")]
        .trainingDetails__content.col-12 
            h3 Программа бизнес-тренинга
            .trainingDetails__content__boxes
                h4 Функция маркетинга как бизнес-технологии
                ul.trainingDetails__content__ul
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Рынок как динамическая система взаимодействия потребительской и конкурентной сред
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Поиск точек роста в непрерывно меняющейся рыночной среде
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Прибыль компании как производная от управления маркетингом
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Концепция 4Р маркетинга как универсальная модель реализации рыночных возможностей
            .trainingDetails__content__boxes
                h4 Практический инструментарий
                ul.trainingDetails__content__ul
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Количественные и качественные методы исследования рынка. Первичная информация как основа формирования эффективной стратегии. Отсутствие системности в получении и обработке информации – ключевые проблемы. Целеполагание на основе исследований.
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Формирование товарной матрицы. Технология категорийного менеджмента. Кросс -конкурентный анализ, определение ролей продукта в товарной матрице. 
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Ценообразование на основе рыночной ценности продукта. Выбор ценового позиционирования относительно конкурентов. Управление маржинальностью.
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Управление коммуникациями с рынком. «Золотое» правило продвижения. Правила выбора каналов коммуникаций. Модели оценки эффективности затрат. Технологии интернет-маркетинга как эффективное дополнение к традиционным каналам продвижения. Основные ошибки в стратегии продвижения
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Аналитика данных. Оцифрованная картина рынка как основа принятия эффективных решений. Типовые формы анализа основных показателей.  
            .trainingDetails__content__boxes
                h4 Организация маркетинга в компании
                ul.trainingDetails__content__ul
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Принципиальная схема бизнес-процесса маркетинга. Наиболее узкие места. Критерии оценки эффективности
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Маркетинг-план как дорожная карта развития. Структура. Этапы планирования. Контрольные точки выполнения. 
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Взаимодействие служб маркетинга и продаж как основа успешной реализации планов. Устранение разрывов в понимании рыночной ситуации. Создание общего информационного поля.
            .trainingDetails__content__boxes
                h4 Кейсы-примеры:
                ul.trainingDetails__content__ul
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span «Догнать и перегнать лидера рынка»
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span «Увеличить прибыль на падающем рынке»
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span «Comeback бывшего лидера»
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span «Повышаем маржинальность, не выходя из кабинета»
            .trainingDetails__content__boxes
                h4 Кейсы-примеры:
                ul.trainingDetails__content__ul
                    li.trainingDetails__content__li
                        span С заказчиком предварительно согласуется наиболее актуальная проблема. В заключительной части тренинга в ходе совместного обсуждения определяются подходы к ее решению. Результатом является определение целей и плана действий по их достижению.
            .trainingDetails__content__boxes
                h4 Бонусы
                ul.trainingDetails__content__ul
                    li.trainingDetails__content__li
                        span 5 часов бесплатных консультаций в течение месяца после проведения тренинга.<br><br>Набор шаблонов для анализа ключевых показателей.
            .trainingDetails__content__boxes
                h4 Преимущества бизнес-тренинга:
                ul.trainingDetails__content__ul
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Составлен на основе опыта решения конкретных задач
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Только необходимый минимум теории, не рассматривается плохо применяемый на практике инструментарий
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Акцент на реальных примерах с разбором ошибок
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Направлен на практическую реализацию, начиная с завтрашнего дня
            .trainingDetails__content__boxes
                h4 Форматы проведения:
                ul.trainingDetails__content__ul
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Групповой онлайн-формат, продолжительность 3 дня, по 4 часа в день
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span Индивидуальный онлайн-формат, продолжительность 2 дня, по 4 часа в день
                    li.trainingDetails__content__li
                        img(src="assets/dot-trainingsDetails.svg", alt="cube")
                        span групповой офлайн-формат, продолжительность 2 дня, по 8 часов в день

