-let pageTitle = "For Bussiness"

doctype html
html(lang="en")
  head
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    title= pageTitle
  body
   include pug/header
   include pug/main
   include pug/blueBox
   include pug/modal
   block content
   include pug/footer

  //- include pug/servises
  //-  include pug/trainings
  //-  include pug/trainingDetails



  

            
              
        
        
  
        
        